# Analizing Neighborhoods in Toronto

In [99]:
#!conda install lxml --yes

In [100]:
#!conda install html5lib --yes

In [101]:
#!conda install BeautifulSoup4  --yes

In [93]:
import pandas as pd
import numpy as np

### Getting dataframe from wikipedia

In [95]:
df = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M", attrs = {'class': 'wikitable'})

In [96]:
df = pd.DataFrame(df[0])
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

### Filtering to the dataframe

In [114]:
df_filtered = df['Borough'] != 'Not assigned'
df_filtered = df[df_filtered]
df_filtered.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

In [121]:
df_filtered['Neighbourhood'].replace('Not assigned', np.nan, inplace=True)
df_filtered['Neighbourhood'].fillna(df_filtered['Borough'])

2                     Parkwoods
3              Victoria Village
4                  Harbourfront
5              Lawrence Heights
6                Lawrence Manor
                 ...
281    Kingsway Park South West
282                   Mimico NW
283          The Queensway West
284       Royal York South West
285              South of Bloor
Name: Neighbourhood, Length: 210, dtype: object

### Grouping the data so neighbourhoods that use same postcode are in the same row

In [122]:
df_grouped_by_postcode = df_filtered.groupby(['Postcode','Borough'])['Neighbourhood'].apply(list)
df_grouped = pd.DataFrame(df_grouped_by_postcode)
df_grouped.reset_index(level=['Postcode', 'Borough'],col_level=0, inplace=True)
df_grouped['Neighbourhood'] = df_grouped.Neighbourhood.apply(lambda x: ", ".join(map(str, x)))
df_grouped.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [124]:
df_grouped.shape

(103, 3)

### Part 2: Getting latitude and longitude with geocoder

In [5]:
!pip install geocoder

Requirement already satisfied: geocoder in c:\users\arturo\anaconda3\envs\ds3.7\lib\site-packages (1.38.1)
Requirement already satisfied: requests in c:\users\arturo\anaconda3\envs\ds3.7\lib\site-packages (from geocoder) (2.23.0)
Requirement already satisfied: six in c:\users\arturo\appdata\roaming\python\python37\site-packages (from geocoder) (1.12.0)
Requirement already satisfied: click in c:\users\arturo\anaconda3\envs\ds3.7\lib\site-packages (from geocoder) (7.0)
Requirement already satisfied: future in c:\users\arturo\anaconda3\envs\ds3.7\lib\site-packages (from geocoder) (0.18.2)
Requirement already satisfied: ratelim in c:\users\arturo\anaconda3\envs\ds3.7\lib\site-packages (from geocoder) (0.1.6)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\arturo\anaconda3\envs\ds3.7\lib\site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\arturo\anaconda3\envs\ds3.7\lib\site-packages (from requests->geocoder) (2.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\arturo\anaconda3\envs\ds3.7\lib\site-packages (from requests->geocoder) (2019.11.28)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\arturo\anaconda3\envs\ds3.7\lib\site-packages (from requests->geocoder) (1.25.8)
Requirement already satisfied: decorator in c:\users\arturo\anaconda3\envs\ds3.7\lib\site-packages (from ratelim->geocoder) (4.4.1)

In [6]:
import geocoder